---
import { Frontmatter } from "src/misc";
import BaseLayout from "./BaseLayout.astro";
import TagButton from "@components/TagButton.astro";
import ShareBtn from "@components/ShareBtn.astro";
const { minutesRead } = Astro.props.frontmatter;

export interface Props {
  content: Frontmatter;
}

const { content } = Astro.props as Props;
const {
  title,
  image,
  imageDescription,
  tags,
  description,
  imageSource,
  imageUrl,
  keywords,
  author,
} = content;
const date = new Date(content.date);
console.log(title);
---

<BaseLayout title={title} description={description} keywords={keywords}>
  <h1
    class="text-3xl md:text-5xl 2xl:text-6xl mb-[0.8em] font-extrabold mx-auto w-fit text-center"
  >
    {title}
  </h1>

  {
    image ? (
      <Fragment>
        <img
          class="w-10/12 mx-auto aspect-auto rounded-md"
          src={image}
          loading="lazy"
          decoding="async"
          alt={imageDescription ?? title}
        />
      </Fragment>
    ) : null
  }
  <!-- image source credits -->
  {
    imageSource ? (
      <p class="text-sm text-center dark:text-gray-100 text-gray-800 mb-4">
        Image from
        <a
          href={imageUrl}
          class="dark:text-blue-400 hover:underline text-blue-800 font-bold "
        >
          {imageSource}
        </a>
      </p>
    ) : null
  }

  <!-- Author -->
  <div class="flex flex-wrap justify-evenly mb-9 mt-2">
    <div class="flex items-center mb-4">
      <img
        class="w-12 h-12 rounded-full mr-4"
        src="/images/bob.jpg"
        alt="Avatar of Author"
      />
      <div class="text-sm">
        <p class="text-gray-900 dark:text-white leading-none">{author}</p>
        <p class="text-gray-600 dark:text-green-400">{minutesRead}</p>
      </div>
    </div>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 inline"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
      </svg>
      <time datetime={date.toISOString()}
        >{
          date.toLocaleDateString("en-uk", {
            day: "numeric",
            month: "short",
            year: "numeric",
          })
        }</time
      >
    </div>
    <div class="flex flex-wrap gap-2">
      {tags.map((tag) => <TagButton tagName={tag} />)}
    </div>
  </div>

  <!-- Content -->
  <div class="prose md:prose-lg 2xl:prose-xl px-4 mx-auto prose-pre:font-mono">
    <slot />
    <div class="mt-3">
      <ShareBtn title={title} />
    </div>
  </div>
</BaseLayout>
